{% extends "template.html" %}
{% block conteudo %}
<thead class="thead-default">How about drawing something with these characteristics?</thead>
<table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>ID</th>
                    <th>Prompt</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for prompt in prompts %}
                <tr>
                    <td>{{prompt._id}}</td>
                    <td>{{prompt._prompts}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
<a class="btn btn-danger" href="{{url_for('index')}}">Voltar</a>
{% endblock %}